.mainFooter {
  background-color: #3d7196;
}
.footerwrapper {
  width: 80%;
  margin: auto;
  padding: 70px 0 70px 0;
}

.footerContainer {
  display: flex;
}
.socialContainer {
  flex: 1;
  display: flex;
  height: 40px;
}
.footerLinks {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
.footerLinkSection {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  width: 150px;
  color: rgba(245, 245, 245, 1);
  text-decoration: underline;
}
.footerLinkSection a {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
