.headrMain {
  height: 732px;
  display: flex;
  background: linear-gradient(rgba(192, 227, 252, 1), rgba(123, 226, 195, 0.8));
}
.leftContainer {
  flex: 2;
}
.rightContainer {
  flex: 1;
  margin-top: "135px";
}

.Headerheading {
  font-weight: 600;
  font-size: 60px;
  line-height: 84.72px;
  text-align: center;
}
.HeaderPara {
  font-size: 35px;
  font-weight: 500;

  line-height: 44.462px;
  text-align: center;
  margin-top: 20px;
  text-align: center;
}
.buttonheader {
  background: url("../../public/images/btn.png");
  width: 380px;
  height: 97px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 34px;
  color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 4px 0px rgba(255, 193, 7, 0.8);
}
.btnContainer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
